<!-- Sobre mi -->
<div class="text-center">
    <h1 class="display-4">Soy Valentin Cabral</h1>
    <h2>Capacitacion .NET</h2>
    <img id="avatar" class="mt-4 img-thumbnail rounded-circle" src="~/imagenes/avatar-ga37eb61f4_1280.png" alt="Avatar" />
</div>

<!-- DOTNET -->

<div class="text-center">
    <img id="img-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>