@{
    ViewData["Title"] = "Gracias";
}


<div class="container">
    <h1>Gracias por ponerte en contacto conmigo.</h1>
    <p>Te contestaré lo mas antes posible.</p>
    <div><a asp-controller="Home" asp-action="">Volver al home</a></div>
</div>
