@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Reporte diario";
}



<partial name="_Submenu" model="SubMenuTransacciones.Diario"/>
<a class="mb-3 btn btn-success" asp-action="Crear">Crear nueva transaccion</a>
<partial name="_ReporteTransaccionesDetalladas" model="Model"/>